{% comment %}
    Enables the use of a buy now button on collection pages

    Accepts:
    - collection: {Object} Collection Liquid object (required)
    - product: {Object} Product Liquid object (required)

    Usage:
    {% include 'buy-now', collection: collection, product: product %}
{% endcomment %}


{%- if settings.show_add_to_cart -%}
  <button type="submit" name="add" class="btn add-to-cart product-form__cart-submit" product-id="{{ product.variants.first.id }}" product-name="{{ product.title }}">
    <span data-add-to-cart-text>{{ 'products.product.add_to_cart' | t }}</span>
  </button>
{%- endif -%}


{%- if settings.show_buy_now and settings.show_add_to_cart == false -%}
  <a href="/cart/add" class="btn product-form__cart-submit">Buy Now</a>
{%- endif -%}
